.message {
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
	.close {
		text-decoration: none;
		font-size: 20px;
		float: right;
		line-height: 20px;
	}
}
.alert {
	color: $alert-color;
	background-color: $alert-color-light;
}
.notice {
	color: $success-color;
	background-color: $success-color-light;
}